*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  padding: 18px 70px;
}

h2,
h1,
p
{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
  background-color: #512da8;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif ;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0;
}
button:hover,
button:disabled{
  background-color: #1a1f2e ;
}

nav{
  display: flex;
  padding: 0 50px 50px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width:500px) {
  body{
    padding: 30px 20px;
  }
  nav{
    display: flex;
    padding: 0 0 50px;
    justify-content: space-between;
  }
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}